body {
    color: #666666;
    background-color:lightcoral;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}

h2 {
    color:lemonchiffon;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:aquamarine;
}